[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
[submodule "lib/lzma"]
	path = lib/lzma
	url = https://github.com/SWFRecomp/lzma.git
[submodule "lib/c-hashmap"]
	path = lib/c-hashmap
	url = https://github.com/Mashpoe/c-hashmap.git
[submodule "lib/SDL3"]
	path = lib/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/o1heap"]
	path = lib/o1heap
	url = https://github.com/pavel-kirienko/o1heap.git
